<app-navbar></app-navbar>
<app-header></app-header>

<div id="main-content" class="">
        <div class="container my-5">
          <div class="bgcolor-0 text-light px-3 py-2 my-3 title">
            <button mat-fab color="warn" aria-label="">
              <mat-icon>home</mat-icon>
            </button>
          </div>

            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body">
                            <div class="img-post">
                                <img class="d-block" width="100%" height="300px" src="../../assets/img/bg04.jpg" alt="Angular">
                            </div>
                            <h3 class="color-2">Angular</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                    <app-comments></app-comments>

                </div>
                <!--<div class="" id="">
                <button type="submit"></button>
                </div>-->

                <!-- RIGHT -->
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="search">
                            <div class="">
                                <form class="form">
                                  <mat-form-field>
                                    <!-- <mat-label>Recherche</mat-label> -->
                                    <input type="search" matInput placeholder="Recherche" class="input">
                                    <button matSuffix mat-button>
                                      <mat-icon >search</mat-icon>
                                    </button>
                                  </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header mat-warn mat-toolbar">
                            <h2>Categories Articles</h2>
                        </div>
                        <div class="body widget">
                            <ul class="list-unstyled categories-clouds m-b-0">
                                <a mat-raised-button href="" target="_blank">PHP</a>
                                <a mat-raised-button href="" target="_blank">Linux</a>
                                <a mat-raised-button href="" target="_blank">Microsoft</a>
                                <a mat-raised-button href="" target="_blank">Angular</a>
                                <a mat-raised-button href="" target="_blank">HTML5</a>
                                <a mat-raised-button href="" target="_blank">Infographics</a>
                                <a mat-raised-button href="" target="_blank">Bootstrap</a>
                                <a mat-raised-button href="" target="_blank">Jquery</a>
                                <a mat-raised-button href="" target="_blank">JavaScript</a>
                                <a mat-raised-button href="" target="_blank">Git</a>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header mat-warn mat-toolbar">
                            <h2>Articles populaires</h2>
                        </div>
                        <div class="body widget popular-post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_post">
                                        <p class="m-b-0">Mauris mollis feugiat fringilla. Vestibulum id mauris velit.</p>
                                        <span>jun 22, 2018</span>
                                        <div class="img-post">
                                            <img src="https://www.bootdey.com/image/280x280/87CEFA/000000" alt="Awesome Image">
                                        </div>
                                    </div>
                                    <div class="single_post">
                                        <p class="m-b-0">new rules, more cars, more races</p>
                                        <span>jun 8, 2018</span>
                                        <div class="img-post">
                                            <img src="https://www.bootdey.com/image/280x280/87CEFA/000000" alt="Awesome Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <app-modal></app-modal>
    <app-footer></app-footer>
