<div class="container-fluid p-0">
    <div class="d-flex flex-column z-1 header py-5">
      <div class="container">
        <div class="w-75 mx-auto fond-txt py-3 px-5">
          <h1 class="d-flex justify-content-center ">Journal du Web</h1>
          <h3 *ngIf="title">{{ title }}</h3>
           <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet sem egestas, porta turpis vitae, pretium ligula.
             Donec eget dolor tempor, venenatis nulla a, sollicitudin dui. Nulla facilisi. Praesent at viverra neque. Duis congue scelerisque
             est eu finibus. Integer aliquet ut nulla sit amet fringilla</p>
        </div>
       </div>
     </div>
  <!-- <div class="d-flex z-0 fond">
    <img src="assets/img/bg01.jpg" width="100%" height="400px" alt="">
  </div> -->

</div>
