.fond-txt{background-color:#5E0018;border-radius: 12px;color:#fff;}
.header{background-image:url('../../assets/img/bg01.jpg');min-height: 350px;background-size: cover;background-position: top;width: 100%;}
h1::after{font-size: 0.8rem;}
