<app-navbar></app-navbar>
<div class="container my-5" >
  <div class="d-flex justify-content-between align-items-center bgcolor-0 text-light px-3 py-2 my-3 title">
    <div class="flex-grow-1">
      <button mat-fab color="warn" class="">
        <mat-icon>assignment</mat-icon>
      </button>
    </div>

    <div class="">
      <form class="form">
      <button mat-fab extended color="warn" (click)="toto()">
        <mat-icon  id="btnSearch">image_search</mat-icon>
        <input type="text" [@headA]="headS" matInput placeholder="Recherche un article" class="input"  [(ngModel)]="articlefiltre" [ngModelOptions]="{standalone: true}">
      </button>
      </form>
      <!-- <b>{{ articlefiltre }}</b> -->

    </div>
    <div class="">
      <button mat-flat-button color="warn" (click)="openDialog()">
        Ajouter
        <mat-icon >add_circle_outline</mat-icon>
      </button>
    </div>

  </div>
  <!-- <div class="my-2">
    <div class="row-column">
      <div class="col-md-4 text-left">

      </div>
      <div class="col-md-4 ">
       <input type="text" name="search" class="w-100" [(ngModel)]="articlefiltre">
      </div>
    </div>
  </div> -->
  <div class="row row-cols-1 row-cols-md-3" >
    <div class="col md-4 my-2" *ngFor="let art of filteredArticles | orderBy:'artName' ">
      <div class="card" >
        <div class="text-dark">
          <h3 class="card-title m-0 mat-warn mat-toolbar p-3">{{ art.artCat }}</h3>
        </div>

       <img width="200px" height="300px" [src]="art.artImage" class="w-100" alt="...">
       <div class="card-body">
         <h5 class="card-title">{{ art.artName }}</h5>
         <p class="card-text">{{ art.artDescrip }}</p>

       </div>
          <div class="card-footer px-3">
              <div class="d-flex align-items-end justify-content-between">
                <div class="">
                    <a mat-raised-button color="warn" [routerLink]="['/articles',  art.artId ]">Voir</a>
                </div>
                <div class="">
                  <p class="card-text">Posté le : {{ art.artDate }}</p>
                </div>

              </div>

          </div>
      </div>
    </div>
   </div>
</div>
<app-footer></app-footer>
