.header{margin-bottom: 2rem;}
.card .header {padding:20px 20px 0 20px;position: relative;box-shadow: none;}
.search span{padding:10px;border-top-right-radius: 0;border-bottom-right-radius: 0;}
.card {background: #fff;border: 0;margin-bottom: 30px;width: 100%;box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);}
.card .body {padding: 1.3rem;font-weight: 400;}
.card .body li a{padding: 20px;color:#8D0023;margin:3px;}
.card .body li a:hover{color:#000;}

.hide{
display: none;
}
.show{
	display: block;
}
.second{
	background-color: #fff6f3;
	border-radius: 4px;
	box-shadow: 7px 7px 8px #c5c5c5;
  padding: 25px 25px 10px 25px;
}
.text{
	font-size: 13px;
  font-weight: 500;
  color: #56575b;
	max-width: 550px;
}
.thumbup{
	font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}
.thumbupo{
	color: #17a2b8;
}
