 <div class="container-fluid p-0">
    <div class="d-flex flex-column align-items-center header">
        <div class="w-50 fond-txt bgcolor-005">
          <h1 class="d-flex justify-content-center ">Journal du Web</h1>
          <h3 *ngIf="title">{{ title }}</h3>
           <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet sem egestas, porta turpis vitae, pretium ligula.
             Donec eget dolor tempor, venenatis nulla a, sollicitudin dui. Nulla facilisi. Praesent at viverra neque. Duis congue scelerisque
             est eu finibus. Integer aliquet ut nulla sit amet fringilla</p>
        </div>
     </div>
</div>
